body {
  font-family: Saira Extra Condensed;
  margin: 0;
}

/* Define the grid container */
.grid-container {
display: grid;
grid-template-columns: 20vw 1fr;
grid-template-rows: 100vh;
}


/* Style the sidebar */
.sidebar {
padding: 10px;
text-align: center;
position: fixed;
width: 20vw;
height: 100vh;
background-color:  #1034A6;
}


/* Style the main content area */
.main {
background-color: #fff;
text-align: justify;
padding: 5%;
}

img[class=profile] {
border-radius: 50%;
height: 25vh;
width: 13vw;
padding-top: 10px;
padding-bottom: 10px;
position: center;
justify-content: center;
}

hr {
position: relative;
top: 20px;
border: none;
height: 3px;
background: #495057;
margin-bottom: 50px;
}

.blue {color: #1034A6;}

#gradient {
background: -webkit-linear-gradient(#1034A6, #495057);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: inline-block;
}


/*Remove default characteristics of <a>*/
.sidebar ul {
list-style: none;
margin: 0;
padding: 0;
top:50%;
bottom:50%;
font-weight: bold;
}

.sidebar li {
margin: 0;
padding: 0;
}

.sidebar a {
display: block;
padding: 10px;
color: #fff;
text-decoration: none;
}

.sidebar a:hover {
background-color: #555;
}




.page-transition {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}




@media only screen and (max-width: 600px){
/* Your CSS styles for smaller screens go here */
body {
  font-size: 2vw;
}
}




/*Grid Features*/
.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}