{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Transaction</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Date & Time</th>
            </tr>
        </thead>
        <tbody>
            {% for hist in history %}
                <tr>
                    <td>{{ hist.symbol }}</td>
                    <td>{{ hist.transaction }}</td>   <!--Or portfolio["stocks"]-->
                    <td>{{ hist.total_shares }}</td>
                    <td>{{ hist.price | usd }}</td>
                    <td>{{ hist.date }}</td>
                </tr>
            {% endfor %}
            <tr class="table-dark">
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>Cash:</td>
                <td>{{ cash | usd }}</td>
            </tr>
            <tr class="table-dark">
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>Total:</td>
                <td>{{ balance | usd }}</td>
            </tr>
        </tbody>


    </table>
{% endblock %}