{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Stocks</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for port in portfolio %}
                <tr>
                    <th scope="row">port</th>
                    <td>{{ stock }}</td>
                    <td>{{ shares }}</td>
                    <td>{{ price }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ total }}</td>
            </tr>
        </tbody>


    </table>
{% endblock %}