{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio %}
                <tr>
                    <th scope="row">port</th>
                    <td>{{ stock.stocks }}</td>
                    <td>{{ stock.SUM(shares) }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.total }}</td>
                </tr>
            {% endfor %}
            <tr class="table-dark">
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>Cash</td>
                <td>{{ cash }}</td>
            </tr>
            <tr class="table-dark">
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>{{ balance }}</td>
            </tr>
        </tbody>


    </table>
{% endblock %}