{% extends "layout.html" %}

{% block title %}
    Registration
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input require autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input require class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="text">
        </div>
        <div class="mb-3">
            <input require class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirm" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
