{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="symbol">Choose your stocks</label><br>
            <select id="symbol" name="symbol" class="form-select" aria-label="Default select example">
                <option selected>Stocks</option>
                {% for stocks in user_stocks %}
                    <option>{{stocks.stock}}</option>
                {% endfor %}

            </select>
            <!--<input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">-->
        </div>
        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
